<a href="https://colab.research.google.com/github/MayVera/inteligenciaArtificial/blob/main/lunes26junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
#TUESDAY 24 JUNE 2024
# tmp=list()
# tmp.append(2)
# print(tmp)
# tmp.append('may')
# print(tmp)
# tmp.append('ale')
# print(tmp)
# #print(tmp[3])
# #aux.capitalize()
# #print(aux)
# #print(aux.upper())

# tmp1='hello'
# print(tmp1.capitalize())

# aux1=[1,2,3,4,5,6,7,8,9,10]
# print(aux1)

# aux1[4]=10
# print(aux1)

# print(aux1[-1])
# print(aux1[3:7])
# print(aux1[0:5])
# print(aux1[:5])

# aux2=list()
# for i in range(100):
#   aux2.append(i)
# #print(aux2[:20])

# aux3=list()
# for indx, elem in enumerate(aux2):
#   if aux2[indx]%2==0:
#     aux3.append(aux2[indx]**2)

# print(aux3)

animals=['cat', 'dog', 'monky', 'rabbit']
for animal in animals:
  print(animal)

tmp3=[ i**2 for i in range(10)if i%2==0]
print(tmp3)

cat
dog
monky
rabbit
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'cat': 'cute', 'dog' : 'big'}
print(myDictionary['cat'])
myDicAux={'monke': 'black', 'mouse': 'small', 'rabbit': 'white'}
myDictionary.update(myDicAux)
print(myDictionary)
for key, value in myDictionary.items():
  print(f'key : {key} value: {value}')

myList=[1,2,3,4,5,6]
myDictAux1={x:x**2 for x in myList}
print(myDictAux1)

cute
{'cat': 'cute', 'dog': 'big', 'monke': 'black', 'mouse': 'small', 'rabbit': 'white'}
key : cat value: cute
key : dog value: big
key : monke value: black
key : mouse value: small
key : rabbit value: white
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1, var2, flag):
  if flag==True:
    tmp=var1+var2
  else:
    tmp=var1-var2
  #resta
  return tmp

num1=3
num2=7
control=True
print(suma(num1,num2,control))

10

In [ ]:
listNumeros=[-1,+1,0]

def numero_positivo_negativo(numero):
    if numero >0:
        return numero, "positivo"
    elif numero <0:
         return numero, "negativo"
    else:
        return numero, "cero"

resultados =[numero_positivo_negativo(numero) for numero in listNumeros]
for numero, clasificacion in resultados:
    print(f"El numero {numero} es {clasificacion}.")

El numero -1 es negativo.
El numero 1 es positivo.
El numero 0 es cero.

In [8]:
#SET AS A CONTAINER 26 JUNE

var1=set()
var1.add(3)
print(var1)
var1.add('may')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('may')
print(var1)

print(len(var1))

print(3 in var1)

for elem in var1:
  print(elem)

{3}
{True, 3, 'may'}
{True, 3, 'may', 5}
{True, 3, 5}
3
True
True
3
5

In [9]:
#JUPLES

var2=tuple()
var=(1,2,3,4,5)
print(type(var))
aux=list(var)
print(type(aux))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))


# elemento_a_eliminar = 3
# var_sin_elemento = tuple(x for x in var != elemento_a_eliminar)

<class 'tuple'>
<class 'list'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [17]:
#HOW TO DEFINE A CLASS

class saludo(object):
  def __init__(self,name):
    print("El objeto ha sido creado")
    self.name=name

  def saludoPersonal(self):
    return f"Hola, {self.name}"

name1=saludo('May')
name2=saludo('Ale')
name3=saludo('Aleja')

print(name1.saludoPersonal())
print(name2.saludoPersonal())

El objeto ha sido creado
El objeto ha sido creado
El objeto ha sido creado
Hola, May
Hola, Ale

In [25]:

class Calculadora:
    def __init__(self, radio, base, altura, lado): #Fixed the typo here, it should be __init__
        self.radio = radio
        self.base = base
        self.altura = altura
        self.lado = lado

    def area_circulo(self):
        return 3.1416 * self.radio ** 2

    def area_triangulo(self):
        return (self.base * self.altura) / 2

    def area_cuadrado(self):
      return self.lado ** 2

# Example usage
calculadora = Calculadora(8, 7, 14, 12)

area_circulo = calculadora.area_circulo()
print("Area del circulo:", area_circulo)

area_triangulo = calculadora.area_triangulo()
print("Area del triangulo:", area_triangulo)

area_cuadrado = calculadora.area_cuadrado()
print("Area del cuadrado:", area_cuadrado)

Area del circulo: 201.0624
Area del triangulo: 49.0
Area del cuadrado: 144